

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Если цель не твоя, жизнь проходит мимо</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-12">
                <h2>Что я здесь делаю?</h2>
                <p>Постановке целей в наше время уделяют очень много времени, и не зря. Если ты не знаешь в какую сторону двигаться, то в любом случае придешь не туда.</p>
                <p>Сядьте и потратьте пару часов времени на постановку целей на жизнь. Будьте изобретательны и рисковы. Помечайте выполненные цели и делитесь своим прогрессом с друзьями!</p>
                <p>
                    <a class="btn btn-default btn-lg" href="#">Начать использование &raquo;</a>
                </p>
            </div>
            
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            <%@goals.each do |goal|%>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
                <h2><%=goal.text%></h2>
                <p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
            </div>
            <%end%>
            
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>